.auth__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 5px;
}
